<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<input type="button" onclick="location.href='/';" value="Home">
{{if .Customers}}
<h1>Customers' List</h1>
{{if .Sortable}}
<form method="get">
    <input type="hidden" name="firstName" value="{{.Request.FirstName}}">
    <input type="hidden" name="lastName" value="{{.Request.LastName}}">
    <label for="sort">Sort Field</label>
    <select id="sort" name="sort">
        <option value="{{.SortTypes.Unordered.Code}}" {{if eq $.Sort $.SortTypes.Unordered.Code}} selected {{end}}>Unordered</option>
        <option value="{{.SortTypes.FirstName.Code}}" {{if eq $.Sort $.SortTypes.FirstName.Code}} selected {{end}}>First Name</option>
        <option value="{{.SortTypes.LastName.Code}}" {{if eq $.Sort $.SortTypes.LastName.Code}} selected {{end}}>Last Name</option>
        <option value="{{.SortTypes.Birthday.Code}}" {{if eq $.Sort $.SortTypes.Birthday.Code}} selected {{end}}>Birthday</option>
        <option value="{{.SortTypes.Gender.Code}}" {{if eq $.Sort $.SortTypes.Gender.Code}} selected {{end}}>Gender</option>
        <option value="{{.SortTypes.Email.Code}}" {{if eq $.Sort $.SortTypes.Email.Code}} selected {{end}}>Email</option>
        <option value="{{.SortTypes.Address.Code}}" {{if eq $.Sort $.SortTypes.Address.Code}} selected {{end}}>Address</option>
    </select>
    <input type="submit" value="Sort">
</form>
{{end}}
<table>
    <tr>
        <td style="width: 150px">First Name</td>
        <td style="width: 150px">Last Name</td>
        <td style="width: 150px">Birthday</td>
        <td style="width: 100px">Gender</td>
        <td style="width: 200px">Email</td>
        <td style="width: 350px">Address</td>
        <td style="width: 100px"></td>
    </tr>
    {{range .Customers}}
    <tr>
        <td>{{.FirstName}}</td>
        <td>{{.LastName}}</td>
        <td>{{.Birthday}}</td>
        <td>{{.Gender}}</td>
        <td>{{.Email}}</td>
        <td>{{.Address}}</td>
        <td><input type="button" onclick="location.href='/edit?id={{.Id}}'" value="Edit"/></td>
    </tr>
    {{end}}
</table>
{{else}}

{{if .ErrMessage}}
<h1>System Error: {{.ErrMessage}}</h1>
{{else}}
<h1>There are no customers by request</h1>
{{end}}

{{end}}
</body>
</html>